<footer class="navbar-fixed-bottom">
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item"><i class="fa fa-github-square"></i>&nbsp;<a href="https://github.com/liunanchenFYJJ" target="_blank">liunanchenFYJJ</a></li>
            <li class="list-group-item"><i class="fa fa-envelope-square"></i>&nbsp;<a href="mailto:liunan_chenßß@163.com">liunan_chen@163.com</a></li>
            <li class="list-group-item"><i class="fa fa-address-card"></i>&nbsp;<a href="https://i.51job.com/resume/standard_resume.php?lang=c&resumeid=382134155" target="_blank">bio</a></li>
        </ul>
    </div>
</footer>
<style>
    li {
        display: inline-block;
    }
</style>