<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class=""><a href="/">{{t "header.home"}}</a></li>
    {{!-- <li role="presentation" class=""><a href="/profile">Profile</a></li> --}}
    {{!-- <li role="presentation" class=""><a href="/about">About</a></li> --}}
    <li role="presentation" class=""><a href="/msgboard">MessageBorad</a></li>
    <li role="presentation" class=""><a href="/chatroom">Chatroom</a></li>
</ul>
<link rel="stylesheet" href="/css/header.css">
<script data-main="js/partials/header" src="js/lib/require.js" defer async="true"></script>