<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class=""><a href="/">{{t "header.home"}}</a></li>
    <li role="presentation" class=""><a href="/msgboard">{{t "header.messageborad"}}</a></li>
    <li role="presentation" class=""><a href="/chatroom">{{t "header.chatroom"}}</a></li>
</ul>
<link rel="stylesheet" href="/css/header.css">
<script data-main="js/partials/header" src="js/lib/require.js" defer async="true"></script>