<ul class="nav nav-tabs nav-justified">
    <li role="presentation" class=""><a href="/">Home</a></li>
    {{!-- <li role="presentation" class=""><a href="/profile">Profile</a></li> --}}
    {{!-- <li role="presentation" class=""><a href="/about">About</a></li> --}}
    <li role="presentation" class=""><a href="/msgboard">MessageBorad</a></li>
    <li role="presentation" class=""><a href="/chatroom">Chatroom</a></li>
</ul>
<script src="js/lib/jquery.min.js"></script>
<script src="/js/partials/header.js"></script>