<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>home</title>
  <link href="css/lib/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <div class="row header">
    <div class="col-md-10 col-sm-9 col-xs-8 col-md-offset-1">
      {{>header}}
    </div>
  </div>
  {{{body}}}
  {{!-- <div class="row footer">
    <div class="col-md-10 col-sm-9 col-xs-8 col-md-offset-1"> --}}
      {{>footer}}
    {{!-- </div>
  </div> --}}
  {{!-- js主入口 --}}
  {{!-- <script data-main="js/main" src="js/lib/require.js" defer async="true"></script> --}}
  <div id="cover"></div>
</body>
</html>