<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; margin: 20px 20px 20px 20px }
      #messages li:nth-child(odd) { background: #eee; }
      #user {
        width: 200px;
        height: 200px;
        background-color: rebeccapurple;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding-top: 20px;
      }
      #usersubmit {
        display: block;
        margin: auto;
      }
    </style>
  </head>
  <body>
    <div id="user">
      <span>please enter your name</span>
      <input name="username" type="text" value="">
      <button id="usersubmit">submit</button>
    </div>
    <ul id="messages"></ul>
    <form id="form" action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      $(function() {
        // 每次刷新页面清除 localstorage
        window.onbeforeunload = function() {
          window.localStorage.removeItem('name');
        }
        // 判断是否登陆过
        var hasname = window.localStorage.getItem('name');
        // console.log(hasname);
        if (!hasname) {
          $('#form').hide();
        } else {
          $('#user').hide();
        }

        var socket = io();
        // 先取个nickname
        $('#usersubmit').click(function() {
          let username = $('#user>input').val();
          if (username) {
            socket.emit('login', { username: username });
            window.localStorage.setItem('name', username);
            $('#user').hide();
            $('#form').show();
          }
        });

        socket.on('loginsuccess', function(data) {
          console.log(`welcome ${data.username}`);
          $('#messages').append($('<li>').html(`<span>welcome!</span>--<p style="color: red; display: inline-block">${data.username}</p>`));
        })

        $('form').submit(function() {
          let msg = $('#m').val();
          let name = window.localStorage.getItem('name');
          socket.emit('chatroom', { username: name, msg: msg });
          $('#m').val('');
          return false;
        });
        socket.on('chatroom', function(data) {
          let userstr = $('<li>').html(`<p style="color: red; display: inline-block">${data.username}:</p> ${data.msg}`);
          $('#messages').append(userstr);
        });

      });
    </script>
  </body>
</html>
