<div class="row" style="padding-top: 20px;">
  <div class="col-md-2 col-sm-3 col-xs-4">
    <img src="/images/cat.png" alt="">
    <button id="addNewArticle" style="" type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModal">添加新文章</button>
    <ul class="list-group">
      <li class="list-group-item"><i class="fa fa-github-square"></i>&nbsp;<a href="https://github.com/liunanchenFYJJ" target="_blank">liunanchenFYJJ</a></li>
      <li class="list-group-item"><i class="fa fa-envelope-square"></i>&nbsp;<a href="mailto:liunan_chenßß@163.com">liunan_chen@163.com</a></li>
      <li class="list-group-item"><i class="fa fa-address-card"></i>&nbsp;<a href="https://i.51job.com/resume/standard_resume.php?lang=c&resumeid=382134155" target="_blank">bio</a></li>
    </ul>
  </div>
  <div id="body" style="overflow:auto;" class="col-md-10 col-sm-9 col-xs-8"></div>
</div>
<script data-main="/javascripts/home" src="/lib/require.js" defer async="true"></script>
<script id="context" type="text/x-handlebars-template">
  \{{#each this}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="display:inline-block;">\{{title}}</h3><p style="float:right;display:inline-block;">\{{createDate}}</p>
      </div>
      <div class="panel-body">
        {{!-- \{{article}} --}}
        {{!-- loading... --}}
        <button style="float:right;display:inline-block;" type="button" class="btn btn-primary btn-xs">learn more</button>
        <button style="float:right;display:inline-block;" type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModal">edit</button>
      </div>
    </div>
  \{{/each}}
</script>