<div class="row" style="padding-top: 20px;">
  <div class="col-md-2 col-sm-3 col-xs-4">
    <img src="/images/cat.png" alt="">
    <ul class="list-group">
      <li class="list-group-item"><i class="fa fa-github-square"></i>&nbsp;<a href="https://github.com/liunanchenFYJJ" target="_blank">liunanchenFYJJ</a></li>
      <li class="list-group-item"><i class="fa fa-envelope-square"></i>&nbsp;<a href="mailto:liunan_chen@163.com">liunan_chen@163.com</a></li>
      <li class="list-group-item"><i class="fa fa-address-card"></i>&nbsp;<a href="https://i.51job.com/resume/standard_resume.php?lang=c&resumeid=382134155" target="_blank">bio</a></li>
    </ul>
  </div>
  <div id="body" style="overflow:auto;" class="col-md-10 col-sm-9 col-xs-8"></div>
</div>
{{> markdownmodal}}
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/handlebars.js/4.0.12/handlebars.min.js"></script>
<script id="context" type="text/x-handlebars-template">
  \{{#each this}}
    to be continue。。。
    {{!-- <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title" style="display:inline-block;">\{{title}}</h3><p style="float:right;display:inline-block;">\{{createDate}}</p>
      </div>
      <div class="panel-body">
        \{{content}}
        <button style="float:right;display:inline-block;" type="button" class="btn btn-primary btn-xs">learn more</button>
        <button style="float:right;display:inline-block;" type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModal">edit</button>
      </div>
    </div> --}}
  \{{/each}}
</script>
<script>
  $(function() {
    // timeformat
    Handlebars.registerHelper("timeformat", function(time) {
      return time.substr(0, time.length - 14);
    })
    // 模版
    let template = Handlebars.compile($('#context').html());

    $.ajax({
      type: 'get',
      url: 'http://localhost:3000/getdiary',
      data: { page: 1 },
      success: function(data) {
        // 数据
        $('#body').html(template(data.data));
        $('#body').height() > window.innerHeight - 40 ? $('#body').css('overflow', 'auto').height(window.innerHeight - 80) : $('#body').height('auto');
      },
      error: function(error) {
        console.log(error);
      }
    });

    //
    $(window).resize(function() {
      window.location.reload();
    })
  });
</script>