<link rel="stylesheet" href="/css/home.css">
<div class="row body">
  <div id="body" class="col-md-4 col-sm-9 col-xs-8 col-md-offset-4"></div>
</div>
<script data-main="js/home" src="js/lib/require.js" defer async="true"></script>
<script id="context" type="text/x-handlebars-template">
  \{{#each this}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">\{{title}}</h3><p>\{{timeformat articleId}}</p>
      </div>
      <div class="panel-body">
        {{!-- \{{article}} --}}
        {{!-- loading... --}}
      </div>
      <div class="panel-footer">
        <button type="button" class="btn btn-primary btn-xs learnmore" onclick="learnmore(this)">learn more</button>
      </div>
    </div>
  \{{/each}}
</script>