<link rel="stylesheet" href="/css/msgBorad.css">
<div class="row body">
  <button type="button" class="btn btn-primary btn-xs col-md-1 col-md-offset-1" data-toggle="modal" data-target="#mModal">{{t "msgBorad.addMSG"}}</button>
  <div id="body" class="col-md-9 col-sm-9 col-xs-8"></div>
</div>
{{> addMessage}}
<script data-main="js/msgBoard" src="js/lib/require.js" defer async="true"></script>
<script id="context" type="text/x-handlebars-template">
  \{{#each this}}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">\{{name}}</h3>
        <p>\{{createDate}}</p>
      </div>
      <div class="panel-body">
        \{{{content}}}
      </div>
    </div>
  \{{/each}}
</script>