<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>new article</title>
    <style>
        html {
            font-size: 16px;
        }
        #submit {
            width: 94%;
            background-color: royalblue;
            border-radius: 4px;
            height: 1.6rem;
            position: absolute;
            left: 0;
            transform: translate(3%, 50%);
        }
    </style>
    <script data-main="/javascripts/newarticle" src="/lib/require.js" defer async="true"></script>
</head>
<body>
    <textarea name="content" id="editor"></textarea>
    <button id="submit">submit</button>
</body>
</html>