profile
<div id="wrap" style="height:100px;background-color:white"></div>
{{!-- <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script> --}}
<script src="https://cdn.bootcss.com/handlebars.js/4.0.12/handlebars.min.js"></script>
<script id="tpl" type="text/x-handlebars-template">
  <div class="demo">  
      <h1>\{{name}}</h1>
      <p>\{{content}}</p>
  </div>
</script>
<script>
  $(function() {
    let tpl = $("#tpl").html();
    //预编译模板
    let template = Handlebars.compile(tpl);
    //模拟json数据
    let context = { "name": "XXX", "content": "this is Handlebars"};
    //匹配json内容
    let aaa = template(context);
    console.log(aaa);
    //输入模板
    $("#wrap").html(aaa);
  });
</script>