.body
    // height: calc(100%-110px)
    height: 90%
    #body
        height: 100% !important
        padding: 0
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        .panel-default
            min-width: 400px
            margin: 0.5rem
            &:nth-child(odd)
                height: 70% !important
                .panel-heading
                    p
                        float: right
                        display: inline-block
                    h3
                        display: inline-block
                    button
                        position: absolute
                        top: 3rem
                        color: #000
                        background-color: #000
                        border-color: #000
                        transition: all 0.5s linear
                    &:hover
                        button
                            color: #fff
                            background-color: #337ab7
                            border-color: #337ab7
                            transform: translateY(5.4rem)
            &:nth-child(even)
                height: 80% !important
                .panel-heading
                    p
                        float: right
                        display: inline-block
                    h3
                        display: inline-block
                    button
                        position: absolute
                        top: 3rem
                        color: #000
                        background-color: #000
                        border-color: #000
                        transition: all 0.3s linear
                    &:hover
                        button
                            color: #fff
                            background-color: #337ab7
                            border-color: #337ab7
                            transform: translateY(2.8rem)
            .panel-body
                height: calc(100% - 81px) !important