.body
    height: 90%
    margin-top: 20px
    .btn
        display: inline-block
    #body
        .panel
            .panel-heading
                h3
                    display: inline-block
                p
                    float: right
                    display: inline-block
#mModal
    .modal-header
    .modal-body
        .row
            div
                &:nth-child(1)
                    margin-bottom: 1em
            div
                #content
                    height: 200px
                    width: 100%
    .modal-footer
#content
    border: solid #d3d3d3 1px
    border-radius: 5px
    padding: 6px 12px 6px 12px
::-webkit-input-placeholder /* WebKit, Blink, Edge */
    color: rgb(153, 153, 153)
